/DI/nbproject/private/
/DI/build/
/usandoSwing/nbproject/private/
/usandoSwing/build/
/practicaCombo/nbproject/private/
/practicaCombo/build/
/Lista1/nbproject/private/
/Lista1/build/
/series/nbproject/private/
/series/build/
/pruebaMySQL/nbproject/private/
/pruebaMySQL/build/
/accesoMysql/nbproject/private/
/accesoMysql/build/